<div [formGroup]="form" *ngIf="visibleValue">
  <mat-form-field appearance="{{appearance()}}" [floatLabel]="floatLabel()">
    <mat-label>{{label()}}<span class="form-required" *ngIf="required()">*</span></mat-label>
    <input matInput type="text" [disableControl]="disableValue" [formControlName]="key()"
      placeholder="{{placeholder()}}" [matAutocomplete]="auto">
    <mat-error *ngIf="validateControl()">{{errorMessage()}}</mat-error>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autocompleteOptionSelected($event)"
      [displayWith]="displayFn.bind(this)">
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
          <mat-spinner style="margin: 10px;" diameter="30"></mat-spinner>
      </div>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option[this.field.options.associationText]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>