<div
  fxLayout="row" fxLayoutAlign="center center"
  *ngIf="paginatorData && !isMobile; else loadMore"
>
  <div class="paginator" fxLayout="row">
    <div
      class="page paginator__icon"
      fxLayout="row"
      [ngClass]="{ 'icon--disabled': paginatorData.page === 1 }"
      (click)="fisrtPage()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div
      class="page paginator__icon"
      fxLayout="row"
      [ngClass]="{ 'icon--disabled': paginatorData.page === 1 }"
      (click)="prevPage()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div
      *ngFor="let p of paginatorData.tmpPages"
      (click)="changePage(p)"
      class="page paginator__page"
      [ngClass]="{ 'page--active': p === paginatorData.page }"
    >
      <span>{{ p }}</span>
    </div>
    <div
      class="page paginator__icon"
      fxLayout="row"
      [ngClass]="{
        'icon--disabled': paginatorData.page === paginatorData.pages
      }"
      (click)="nextPage()"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div
      class="page paginator__icon"
      fxLayout="row"
      [ngClass]="{
        'icon--disabled': paginatorData.page === paginatorData.pages
      }"
      (click)="lastPage()"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>

<ng-template #loadMore>
  <div fxLayout="row" fxLayoutAlign="center center" class="paginator__mobile">
    <div class="column">
      <div *ngIf="loading" class="paginator__mobile__loading">...Cargango</div>
      <button
        *ngIf="paginatorData.page !== paginatorData.pages"
        type="button"
        class="btn btn-outline-secondary btn-sm"
        (click)="nextPage()"
      >
        <span>Cargar mas propuestas</span>
      </button>
    </div>
  </div>
</ng-template>
