<div fxLayout="row" fxLayoutAlign="start center" *ngIf="rowTitle" class="form-row-title-container">
    <span>{{rowTitle}}</span>
    <div fxFlex></div>
</div>
<div fxLayout="row" fxLayout.lt-sm="column">
    <div *ngFor="let field of fields" fxFlex.xs="100" fxFlex.sm="{{field.flexConfig.flex || 100}}" fxFlex.md="{{field.flexConfig.flex || 100}}" fxFlex.lg="{{field.flexConfig.flex || 100}}" fxFlex.xl="{{field.flexConfig.flex || 100}}" style="padding: 5px;">
        <app-select-field
        [field]="field"
        [materialData]="materialData"
        [form]="form"
        [model]="model"
        ></app-select-field>
    </div>
</div>
