<div [formGroup]="form" *ngIf="visibleValue">
    <mat-form-field appearance="{{appearance()}}" [floatLabel]="floatLabel()">
      <mat-label>{{label()}}<span class="form-required" *ngIf="required()">*</span></mat-label>
      <input [type]="hide ? 'password' : 'text'" [disableControl]="disableValue" [formControlName]="key()" matInput placeholder="{{placeholder()}}">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="validateControl()">{{errorMessage()}}</mat-error>
    </mat-form-field>
  </div>
