<div [formGroup]="form" *ngIf="visibleValue">
  <mat-form-field appearance="{{appearance()}}" [floatLabel]="floatLabel()">
    <mat-label>{{label()}}<span class="form-required" *ngIf="required()">*</span></mat-label>
    <mat-select 
      [multiple]="multiple()" 
      placeholder="{{placeholder()}}" 
      (selectionChange)="selectOptionSelected($event)"
      [disableControl]="disableValue" 
      [formControlName]="key()"
      [compareWith]="compareFn"
    >
      <mat-option *ngFor="let option of options" [value]="option[associationValue()]">
        {{option[associationText()]}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="validateControl()">{{errorMessage()}}</mat-error>
  </mat-form-field>
</div>