<div fxLayout="column">
  <div class="form-image-content">
    <img *ngIf="!fileSelected" src="{{ defaultImage }}" />
    <img *ngIf="fileSelected" src="{{ fileSelected }}" />
  </div>
  <input
    style="display: none;"
    #fileInput
    type="file"
    (change)="fileChangeEvent($event)"
  />
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-mini-fab color="primary" (click)="fileInput.click()">
      <mat-icon>camera</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="fileInput.click()">
      <mat-icon>photo</mat-icon>
    </button>
  </div>
</div>
