.form-container {
  margin: 10px;
}

mat-form-field {
  width: 100%;
}

mat-icon {
  cursor: pointer;
}

.error-message {
  font-size: 75%;
  color: #f44336;
  margin-top: 0.66667em;
  padding: 0 1em;
}

.form-error {
  color: #f44336;
}

.form-required {
  color: #f44336;
  font-size: 18px;
  margin-left: 5px;
}

.form-normal-label {
  color: rgba(0, 0, 0, 0.54);
}

.form-label {
  font-size: 12px;
}

.form-image-content {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

img {
  width: 200px;
  height: 200px;
}
