<div>
  <mat-accordion>
    <mat-expansion-panel 
      *ngFor="let group of mainGroups; index as i"
      [expanded]="selectedPanel.value === i " 
      (opened)="selectedPanel.setValue(i)"
      >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{group.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.lt-sm="column" class="tabs-content">
        <div fxFlex="20" *ngIf="group.leftFieldGroup.length">

        </div>
        <div fxFlex>
          <div *ngFor="let fields of group.fields">
            <app-row [fields]="fields" [form]="form" [model]="model" [materialData]="materialData"></app-row>
          </div>
        </div>
        <div fxFlex="20" *ngIf="group.rightFieldGroup.length">

        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>